# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv-*/

# Logs and temp files
*.log
*.tmp
*.cache

# Environment files
.env

# Datasets and archives
*.zip
*.npy

# Model checkpoints and large files
#checkpoints/
#*.pth
data/dataset.npy
data/corrupted_images/
data/raw/
data/PetImages/

# IDE artifacts
.vs/
